.table{
    background-color: #fff;
    color: white;
    border: 2px solid black;
    border-radius: 4px;
}
.mb-2, .my-2 {
    margin-bottom: 0.5rem!important;
}

.mb-1, .my-1 {
    margin-bottom: 0.25rem!important;
}
.mt-1, .my-1 {
    margin-top: 0.25rem!important;
}
.justify-content-center {
    justify-content: center!important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.mb-2, .my-2 {
    margin-bottom: 0.5rem!important;
}
.mb-1, .my-1 {
    margin-bottom: 0.25rem!important;
}
.mt-1, .my-1 {
    margin-top: 0.25rem!important;
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
* {
    margin: 0;
    padding: 0;
}
* {
    outline: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    margin: 0;
    overflow-x: hidden;
    color: #313131;
    background: #fff;
}
.round, body {
    font-weight: 400;
}
body {
    font-size: .875rem;
    line-height: 1.5;
    background-color: #edf1f5;
}
.popover, .tooltip, body {
    font-family: Rubik,sans-serif;
}
body, caption {
    text-align: left;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --pink: #e83e8c;
    --red: #ff5050;
    --yellow: #ffc107;
    --green: #2cd07e;
    --teal: #20c997;
    --white: #fff;
    --gray: #8898aa;
    --gray-dark: #313131;
    --primary: #707cd2;
    --secondary: #8898aa;
    --success: #2cd07e;
    --info: #2cabe3;
    --warning: #ffc36d;
    --danger: #ff5050;
    --light: #f7fafc;
    --dark: #313131;
    --cyan: #4fc3f7;
    --orange: #ffc36d;
    --purple: #707cd2;
    --inverse: #4c5667;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xlg: 1600px;
    --font-family-sans-serif: "Rubik",sans-serif;
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}